<%= f.input :programme %>
    <%= f.input :period %>
      <%= f.input :university %>
<div class="row">
    <div class="col-xs-6">
      <%= f.input :marks, label: "Marks/Cgpa" %>
 </div>
    <div class="col-xs-6">
<%= f.input :class_obtained %>
 </div>
 </div>