 <div class="row">
     <div class="col-xs-12 col-md-10 col-md-offset-1">
<div class="well"> 
  <% if @personal.present? %>
        <h3>
          <div class="mdi-social-person"></div>
           Personal Details</h3>
        <div class="table-responsive">
<table class="table   table-striped">
    <tr>
        <td>Name</td>
        <td><%= @personal.fname  %> <%= @personal.lname %></td>
    </tr>
  <tr>
        <td>AICTE Designation</td>
        <td><%= @personal.designation  %> </td>
    </tr>
    <tr>
        <td>Department</td>
        <td><%= @personal.dept  %> </td>
    </tr>
    <tr>
        <td>Post held</td>
        <td><%= @personal.post_held  %> </td>
    </tr>
    <tr>
        <td>Employee Identification Number</td>
        <td><%= @personal.ein  %> </td>
    </tr>
    <tr>
        <td>Date of Appointment</td>
        <td><%= @personal.date_of_app  %> </td>
    </tr>
    <tr>
        <td>Date of birth</td>
        <td><%= @personal.dob  %> </td>
    </tr>
    <tr>
        <td>Address</td>
        <td><%= @personal.address  %> </td>
    </tr>
    <tr>
        <td>Contact details </td>
        <td>Email: <%= current_user.email %><br/>
        Mobile No: <%= @personal.contact_no  %> </td>
    </tr>
 </table>
</div>
<% end %>
 <% if @education_details.length != 0  %>
        <h3>
          <div class="mdi-maps-local-library"></div>
           Education</h3>
        <div class="table-responsive">
          <table class="table   table-striped">
            <tr>
               <% if current_user == @user %> 
              <th>  </th>
              	
              <th>  </th>
              <% end %> 
              <th>Programme</th>
              <th>Period of study</th>
              <th>University</th>
              <th>Marks/CGPA</th>
              <th>Class Obtained</th>
            </tr>
            
            <% @education_details.each do |e| %>
              <tr> 
                <td><%= e.programme %></td>
                <td><%= e.period %> </td>
                <td> <%= e.university %></td>
                <td><%= e.marks %></td>
                <td><%= e.class_obtained %></td>
               </tr>
            <% end%>
          </table>
        </div>
      <% end %>
      <% if @work_experiences.length != 0  %>
        <h3>
          <div class="mdi-social-school"></div>
           Work Experience</h3>
        <div class="table-responsive">
          <table class="table   table-striped">
            <tr>
              <th>Institute</th>
              <th>Designation</th>
              <th>From Date</th>
              <th>To Date</th>
            </tr>
            
            <% @work_experiences.each do |e| %>
              <tr> 
                <td><%= e.Institute %></td>
                <td><%= e.Designation %> </td>
                <td> <%= e.from_date %></td>
                <td><%= e.to_date %></td>
               </tr>
            <% end%>
          </table>
        </div>
      <% end %>
</div>
</div></div>