<div class="row">
  <div class="col-xs-12 col-lg-10 col-lg-offset-1">
    <div class="well">
             <center><h3 style= "margin-top: -15px"><b>Sign In</b></h3></center>
      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {'parsley-validate' => ''}) do |f| %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <%= f.input :email, :input_html => {'data-parsley-required'=> 'true', :data => {'parsley-trigger'=> 'blur change'} }  %>
            <%= f.input :password , :input_html => {'data-parsley-required'=> 'true', :data => {'parsley-trigger'=> 'blur change'} } %>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>
            <% end -%>
            <br/>
            <%= f.submit 'Sign in', :class => "btn btn-primary"%>
            <br/>
            New User? <%= link_to "Sign Up", new_user_registration_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#new_user').parsley();
</script>
